:host {
  display: flex;
  height: 100px;
  background: #1c4966;
  padding-left: 50px;
  align-items: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.header-text {
  h3 {
    color: white;
  }
}
