:host {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 100px);
}

.sidenav {
  margin-top: 3px;
  width: 240px;
  transition: width 300ms linear;
  z-index: 1000;
  position: relative;
  background: #ddd;
}

.nav-item {
  font: font(body-2);
  height: 50px;
  padding: 0 36px;

  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 300ms linear, padding 300ms linear;
  white-space: nowrap;

  &.active {
    font: font(body-1);
    background-color: #f7f7f7;
  }

  &:hover {
    background-color: #f7f7f7;
  }
}

.layout-content {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
