<!-- <mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <ng-container *ngFor="let item of layoutConfig$ | async as layoutConfig">
      <button color="primary" mat-button [routerLink]="item.link">
        <img [src]="item.icon" />
        {{ item.title }}
      </button>
    </ng-container>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu </mat-icon>
        </button>
        <span>Menu</span>

        <span class="spacer"></span>
        <mat-icon>favorite</mat-icon>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>comment</mat-icon>
            <span>Comment</span>
          </button>
          <button mat-menu-item>
            <mat-icon>publish</mat-icon>
            <span>Share</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet />
  </div>
</mat-drawer-container> -->

<div class="container">
  <div class="sidenav">
    <ng-container *ngFor="let item of layoutConfig$ | async as layoutConfig">
      <div
        class="nav-item"
        [class.opened]="item.open"
        [routerLink]="item.link"
        routerLinkActive="active"
      >
        <img [src]="item.icon" />
        {{ item.title }}
      </div>
    </ng-container>
  </div>
  <div class="sidenav-content">
    <mat-toolbar color="darkgrey">
      <mat-toolbar-row>
        <span class="spacer"></span>
        <mat-icon class="header-color">favorite</mat-icon>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="header-color">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>comment</mat-icon>
            <span>Comment</span>
          </button>
          <button mat-menu-item>
            <mat-icon>publish</mat-icon>
            <span (click)="share()">Share</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet />
  </div>
</div>
