<div class="container">
  <div class="sidenav">
    <ng-container *ngFor="let item of layoutConfig$ | async as layoutConfig">
      <div
        class="nav-item"
        [class.opened]="item.open"
        [routerLink]="item.link"
        routerLinkActive="active"
      >
        <img [src]="item.icon" />
        {{ item.title }}
      </div>
    </ng-container>
  </div>
  <div class="layout-content">
    <!-- <main class="main" [class.full-width]="true"> -->
    <router-outlet />
    <!-- </main> -->
  </div>
</div>
