:host {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
}

// .container .mat-drawer {
//   min-width: 200px;
// }
// .container .mat-drawer .mat-button {
//   display: flex;
//   width: 100%;
//   text-align: left;
// }
.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-multiple-rows {
  min-height: auto;
  height: 50px;
  background: "#e5eff7";
  .header-color {
    color: #1c4966;
  }
}

.sidenav {
  background: #ddd;
}

.nav-item {
  font: font(body-2);
  height: 50px;
  padding: 0 36px;
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  background-color: transparent;
  // transition: background-color 300ms linear, padding 300ms linear;
  white-space: nowrap;

  &.active {
    font: font(body-1);
    background-color: #f7f7f7;
  }

  &:hover {
    background-color: #f7f7f7;
  }
}

.sidenav-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
